/*Universal*/
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(240, 65%, 65%);
}

h1 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.main {
    padding: 5rem 0 1rem 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

.products {
    padding: 0 1rem;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#about-us {
    scroll-margin-block-start: 28rem;
}

#products {
    scroll-margin-block-start: 12rem;
}

/*Header*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-flow: column;
    background-color: hsl(240, 65%, 55%);
    text-align: center;
    padding: 1rem 0;
    border-bottom: 2px solid #000;
}

.header img {
    width: 25rem;
    margin: 0 auto;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

nav ul {
    margin-top: 1rem;
}

nav li {
    list-style: none;
    display: inline;
    padding: 0 1rem;
}

nav li a {
    font-size: 1.75rem;
    text-decoration: underline;
}

nav li a:hover {
    text-decoration: none;
    transition: all .2s;
}

/*About Us*/
.banner {
    display: flex;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60rem;
    padding: 8rem 0;
}

.banner .about-us {
    color: white;
    margin: auto;
    min-width: 10rem;
}

.about-us h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.about-us p,
.about-us h3 {
    font-size: 1.45rem;
    margin-top: .25rem;
    text-align: center;
    padding: 0 1rem;
}

/*Products*/
.products {
    margin: 2rem auto;
}

.products h2 {
    width: 100%;
    text-align: center;
}

.products .content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 2rem;
    gap: 1.75rem;
}

.product img {
    width: 30rem;
    height: 15rem;
    border-radius: 2rem;
}

.product h3 {
    font-size: 1.5rem;
    padding: 5px;
    min-width: 240px;
    text-align: center;
}

/*Team*/
.team {
    margin: 2rem auto;
}

.team h2 {
    width: 100%;
    text-align: center;
}

.team .members {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem;
    gap: 1.75rem;
    background-image: url(../images/team-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.member img {
    width: 12rem;
    height: 15rem;
    border-radius: 1rem;
    overflow: hidden;
}

.members h3 {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255,255,255);
    text-shadow: 0.125rem 0.125rem black;
}

#title { 
    text-align: center;
}

/*Contact*/
.contact {
    margin: 1rem 0;
}

.contact p {
    text-align: center; 
    font-size: 1.45rem;
}

/*Footer*/
.footer p {
    font-size: 1.45rem;
    text-align: center;
}
