/*Mobile L*/
@media only screen and (max-width: 480px) {
    /*Universal*/
    img:not(#professional-summary img, #github-icon) {
        width: 2rem;
        margin-right: 1.5rem;
    }
  
    /*Body*/
    body {
        background-image: url(../images/background-image-mobile.jpg);
        background-position: center center;
        background-size: cover;
    }

    /*Header*/
    header {
        flex-flow: column wrap;
        padding: 1rem 0;
    }

    header h1 {
        font-size: 3.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid black;
        text-align: center;
    }
    
    header nav {
        margin: auto;
    }
    
    header nav ul li {
        text-align: center;
        float: none;
        padding: 1rem 0;
    }

    header nav ul li a {
        font-size: 1.15rem;
    }
    
    header button {
        display: none;
    }

    header button.mobile {
        display: block;
        margin: auto;
        font-size: 1.15rem;
        padding: .5rem 0;
        width: 60%;
    }

    /*Main*/
    /*Professional Summary*/
    #professional-summary {
        flex-flow: column wrap;
        justify-content: start;
    }
    
    #professional-summary h2 {
        text-align: center;
        width: 100%;
    }
    
    #professional-summary p {
        margin: 0.75rem auto;
        max-width: 100%;
    }
    
    #professional-summary img {
        margin: 1rem auto 0;
        width: 55%;
    }

    /*Skills*/
    #skills {
        row-gap: 1rem;
    }

    /*Footer*/
    footer p:last-of-type {
        text-align: center;
        font-size: .8rem;
        float: none;
        margin: .4rem auto -1rem;
    }
}